body {
    background-image: url('background.JPEG');
    background-size: cover; /*cover the entire page*/
    background-position: center; /*center the background image*/
    background-repeat: no-repeat; /*do not repeat the image*/
    color: white;
    text-align: center; /*center all text*/
    font-family: 'Arial', sans-serif;
}

.top-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /*add a slight shadow for depth effect*/
}

.logo {
    height: 50px;
    width: auto; /*keep the logo's aspect ratio*/
    margin-right: 20px; /*add some space between the logo and the title*/
}

.top-bar h1 {
    margin: 0;
    font-size: 24px;
    color: #2fad66; /*website theme color*/
}

.lead {
    margin-top: 20px;
    margin-bottom: 20px;
}

#preview-container {
    margin-top: 20px;
}

.image-preview-placeholder {
    border: 2px dashed #ccc;
    background-color: white;
    color: black;
    margin: 0 auto;
    max-width: 800px;
    height: 450px;
    line-height: 450px; /*center the text vertically*/
    text-align: center;
}

.image-preview {
    display: block;
    max-width: 800px;
    max-height: 600px;
    margin: 0 auto; /*centers the image horizontally*/
    border: 2px solid white; /*add a white border around the image*/
    object-fit: contain; /*maintain aspect ratio within max dimensions*/
    height: auto; /*automatically adjust height and width to maintain aspect ratio*/
    width: auto;
}

.btn {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#results {
    margin-top: 20px;
    position: relative;
}

